[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,N,RST,S,W
ignore = ANN101,B008,E203,E501,RST301,W503
max-line-length = 80
max-complexity = 10
application-import-names = dressup,tests
import-order-style = google
docstring-convention = google
per-file-ignores = tests/*:S101,src/dressup/console.py:DAR101
